* {
  margin: 0;
  padding: 0;
}

table {
  margin: 5px 0;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 0 5px;
  border: 1px solid black;
}
thead {
  font-weight: bold;
  text-align: center;
}
.noData {
  margin: 200px;
}

.TableWrapper {
  text-align: justify;
  margin: 15px 50px;
}
button {
  margin-left: 50px;
}
