* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
table {
  margin: 20px 100px;
  border: 1px solid black;
  border-collapse: collapse;
  width: 1000px;
}
td {
  padding: 0 5px;
  border: 1px solid black;
}
.noData {
  margin: 200px;
}
